<h1>Tags</h1>
<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>|
        <% if current_user && current_user.admin %>
          <%= link_to "Delete", tag_path(tag),
            :data => {:confirm => "Are you sure?",
              :method => 'delete'}%>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Currently there are no tags.</p>
<% end %>
