<h1><%= @tag.name %></h1>

<p><%= link_to "Edit", edit_tag_path(@tag) %></p>
<p><%= link_to "Delete", tag_path(@tag),
                        :data => {:confirm => "Are you sure?",
                          :method => 'delete'}%></p>
