<h1>Photos!</h1>

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
    <li>
      <div class="thumbnail">
        <%= image_tag image.photo %>
        <div class="caption">
          <p><%= link_to image.title, image_path(image) %></p>
      </div>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>Currently no photos!</p>
<% end %>

<p><%= link_to "Add photo", new_image_path %> </p>
<p><%= link_to "Tag List", tags_path %></p>
